{{! 
    render method details using HTML to provide more fine grain control in
    formatting details displayed for each method
}}
<table class="method-name">
    <thead class="method-name-header">
        <tr class="method-name-row">
            <th class="method-name-cell" colspan="2">{{name}}</th>
        </tr>
    </thead>
{{#each signatures}}
    {{#with this.comment}}
    {{#if description}}
    <tbody>
        <tr class="method-description-row">
            <td class="method-description-cell" colspan="2"><p>{{description}}</p></td>
        </tr>
    </tbody>
    {{/if}}
    {{/with}}
    {{#if parameters}}
    <thead class="method-parameters-header">
        <tr class="method-parameters-header-row">
            <th class="method-parameters-header-cell" colspan="2">Parameters</th>
        </tr>
    </thead>
    <tbody>
        {{#each this.parameters}}
        <tr class="method-parameter-row">
            <td class="method-parameter-name-cell"><p>{{this.name}}: {{this.type}}</p></td>
            {{#with this.comment}}
            <td class="method-parameter-description-cell"><p>{{this.description}}</p></td>
            {{/with}}
        </tr>
        {{/each}}
    </tbody>
    {{/if}}
    {{#if this.returnType}}
    {{#with this.returnType}}
    <thead class="method-returns-header">
        <tr class="method-returns-header-row">
            <th class="method-returns-header-cell" colspan="2">Returns</th>
        </tr>
    </thead>
    <tbody>
        <tr class="method-returns-row">
            <td class="method-returns-type-cell">{{this.type}}</td>
            <td class="method-returns-description-cell">{{this.type}}</td>
        </tr>
    </tbody>
    {{/with}}
    {{/if}}
{{/each}}
</table>
