### Properties
<table>
    <thead>
        <th>Name</th>
        <th>Description</th>
    </thead>
    <tbody>
        {{#each properties}}
            <tr>
                <td>
                {{#if this.propertyDecoratorDisplay}}
                    {{this.propertyDecoratorDisplay}} {{this.name}}: {{this.displayType}}
                {{else}}
                    {{this.name}}: {{this.displayType}}
                {{/if}}
                </td>
                <td>{{this.description}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
