### Properties
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {{#each properties}}
            <tr>
                <td>
                    <p>
                        {{#if this.propertyDecoratorDisplay}}
                            {{this.propertyDecoratorDisplay}} {{this.name}}: {{this.displayType}}
                        {{else}}
                            {{this.name}}: {{this.displayType}}
                        {{/if}}
                    </p>
                </td>
                <td>
                    <p>{{this.description}}</p>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
