{{! render name of decorator as header }}
## {{ name }} Decorator

{{#if description}}
{{ description }}
{{/if}}

<table class="decorator-name">
    {{#if parameters}}
    <thead class="decorator-parameters-header">
        <tr class="decorator-parameters-header-row">
            <th class="decorator-parameters-header-cell" colspan="2">Parameters</th>
        </tr>
    </thead>
    <tbody>
        {{#each parameters}}
            <tr class="decorator-parameter-row">
                <td class="decorator-parameter-name-cell">
                    <p>{{this.name}}: {{this.displayType}}</p>
                </td>
                <td class="decorator-parameter-description-cell">
                    <p>{{this.description}}</p>
                </td>
            </tr>
        {{/each}}
    </tbody>
    {{/if}}
</table>
