{{! render name of module as heading }}
## {{ name }}

{{! render each component declaration }}
{{#if declarations.length }}
### Declarations
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {{#each declarations}}
        <tr>
            <td>
                <p>
                    <a href="/{{module.displayName}}/components/{{this.displayName}}/overview">{{this.name}}</a>
                </p>
            </td>
            <td>
                <p>{{ this.description }}</p>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}

{{#if exports.length}}
### Exports
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {{#each exports}}
        <tr>
            <td>
                <p>
                    <a href="/{{module.displayName}}/components/{{this.displayName}}/overview">{{this.name}}</a>
                </p>
            </td>
            <td>
                <p>{{ this.description }}</p>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}
